/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general*/

.title-box{
    height: 10%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 100%;
}

/*wrapper*/

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    position: relative;
}

.wrapper-top{
    height: 15%;
    background-color: #378c73;
}

/*container app*/

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 95%;
    display: flex;

}

.users-box{
    
    background-color: white;
    width: 30%;
}

.chat-box{
    background-color: coral;
    width: 70%;
}

/*USER BOX*/
.user{
    height: 100%;
}

.user img{
    border-radius: 50%;
    padding: 5px;
}

.inline{
    vertical-align: 120%;
}

.icons{
    color: gray;
    padding: 10px;
}

.icons i{
    margin-left: 10px;
}

/*notify-box*/
.notify-box{
    height: 10%;
    background-color: #81c9d6;
}

.bell{
    background-color: white;
    color:#81c9d6 ;
    border-radius: 50%;
    height: 100%;
}

.notify-box a{
    font-size: 12px;
    color: gray;
}

/*search-box*/
.search-box{
    padding: 5px;
}

.input-text{
    border: 1px solid gray;
    padding: 6px;
    width: 100%;
}

/*box-list*/
.user-list{
    list-style-type: none; 
}

.user-list li{
    height: 60px;
    cursor: pointer;
}

.user-list img{

    border-radius: 50%;
    padding: 5px;

}

/*CHAT BOX*/

.chat-box{
    position: relative;
}

.boxes{
    padding: 10px 5px;
    margin: 10px 60px;
    width: 200px;
    border-radius: 10px;
    font-size: 14px;

}

.white{
    background-color: white;
    display: block;
}

.green{
    background-color: #87f5a2;
    float: right;
    
}

.text-area{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(230, 228, 228);
    padding: 5px;
}

.input-chat{
    width: 80%;
    height: 100%;
    border: 1px solid gray;
}