<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">
        <!--wrapper-->
        <div class="wrapper">

            <div class="wrapper-top"></div>
            
        </div>
        <!--fine wrapper-->

        <!--container-->
        <div class="container">

            <!--USER-BOX-->
            <div class="users-box ">

                <!--title-box-->
                <div class="title-box">

                    <!--user-->
                    <div class="user">
                        <img src="img/avatar_io.jpg" alt="io">
                        <span class="inline">Nicoletta</span>
                    </div>

                    <!--icons-->
                    <div class="icons">
                        <span >
                            <i class="fas fa-circle-notch"></i>
                        </span>

                        <span>
                            <i class="fas fa-comment-alt"></i>
                        </span>

                        <span >
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                    </div>

                    
                </div>
                <!--fine title-box-->

                <!--notify-box-->
                <div class="notify-box">

                    <span class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </span>

                    <span>
                        Ricevi notifiche di nuovi messaggi <br>
                        <a href="#">Attiva notifiche desktop</a>
                    </span>

                </div>

                <!--search-->
                <div class="search-box">

                    <input 
                    v-model="userFilter" 
                    @keyup = "filterContacts"
                    class="input-text" 
                    type="text" 
                    placeholder="Cerca o inizia una nuova chat">

                </div>

                <!--users-list-->
                <div class="box-list">
                    <ul class="user-list">
                        <li 
                        v-if="contact.visible"
                        @click="chooseUser(index)" 
                        v-for="(contact, index) in contacts">

                            <img :src=contact.userImg alt="">
                            <span class="inline">{{contact.name}} </span>

                        </li>
                    </ul>
                </div>
                

            </div>
            <!--fine users-box-->

            <!--CHAT-BOX-->
            <div class="chat-box "> 

                <!--title-box-->
                <div class="title-box">

                    <!--user-->
                    <div class="user">

                        <img :src="contacts[currentUser].userImg" alt="">
                        <span class="inline">{{contacts[currentUser].name}}</span> 
                        
                    </div>

                    <!--icons-->
                    <div class="icons">
                        <span >
                            <i class="fas fa-search"></i>
                        </span>

                        <span>
                            <i class="fas fa-paperclip"></i>
                        </span>

                        <span >
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                    </div>

                    
                </div>
                <!--fine title-box-->

                <div class="chat">

                    <!--boxes-->

                    <div class="boxes message" v-for="(message,index) in contacts[currentUser].messages" :class="message.status" >
                        
                        <div @click="toggleMenu(index)" class="chevron-menu">
                            <i class="fas fa-chevron-down"></i>
                        </div>

                        <div v-if="index === activeMessage" class="options-menu">
                            <ul>
                                <li>Info Messaggio</li>
                                <li @click="deleteMessage(index)" >Cancella Messaggio</li>
                            </ul>
                        </div>

                        <div class="message-text">{{message.text}}</div>
                        <div class="message-data">{{message.date}}</div>
                        
                    </div>

                
                </div>

                <div class="text-area">
                    <span class="icons">
                        <i class="far fa-smile"></i>
                    </span>
                    
                    <input @keyup.enter="addText" v-model="userText" class="input-chat" type="text" placeholder="Scrivi un messaggio">
                    
                    <span class="icons">
                        <i class="fas fa-microphone"></i>
                    </span>
                    
                </div>

            </div>
            <!--fine chat-box-->

        </div>
        <!--fine container-->
        
    </div>
    


    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>

